@import "tailwindcss";

@theme {
  --color-primary: #4a5568; /* gray-700 */
  --color-secondary: #2d3748; /* gray-800 */
  --color-accent: #38b2ac; /* teal-400 */
  --color-background: #bcbcbc; /* gray-50 */
}

.btn-primary {
  @apply bg-primary text-white px-4 py-2 rounded hover:bg-secondary transition;
}
.btn-secondary {
  @apply bg-background text-secondary px-4 py-2 rounded hover:bg-primary transition;
}
.btn-search {
  @apply bg-olive-600 text-white px-2 py-2 rounded-full hover:bg-olive-500 transition;
}
.btn-pagination {
  @apply bg-olive-500 text-white px-2 py-2 rounded-full hover:bg-olive-600 transition disabled:opacity-50 disabled:cursor-not-allowed;
}
.pagination-active {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}
.input-group {
  @apply flex flex-col gap-2;
}
.input-group input {
  @apply flex-1 px-4 py-2 border border-gray-300 rounded overflow-hidden focus:outline-none;
}
.input-group img {
  @apply w-12 h-12 m-4 text-gray-500 self-center;
}

.input-group button {
  @apply bg-olive-600 text-white px-4 py-2 rounded-md hover:bg-olive-500 transition;
}

.shadow-equal {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
